
.box {
    border-width: 1px;
    text-align: center;
    border-radius: 5px;
    border: solid;
    background-color: white;
    width: 70%;
    margin:15%;
    border-color: rgb(126, 96, 59);
  }
  
  h2 {
    font-size: 2rem;
  }
  
  .liked {
    text-align: left;
   
  }
  
  btn-like {
    border-radius: 15px;
  }
  
  
  
  .categorie-box{
    text-align: left;
    padding-left: 2%;
    background-color: rgb(202, 192, 137);
    width: 33%;
    border-radius: 2px;
  }
  
  .img-box{
    width: 49%;
    padding-left: 0.5%;
  }
  
  .description-box {
    float: right;
    width: 49%;
    text-align: left;
    padding-right: 0.5%;
  }
  
  .info-box{
    text-align: left;
    background-color: rgb(180, 186, 190);
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
  }
  